<template name="newspaperEdit">
    <form class="main">
        <div class="control-group">
            <div class="controls">
                <input name="name" type="text" value="{{name}}" placeholder="Newspaper Name *"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input name="url" type="text" value="{{url}}" placeholder="Newspaper URL"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input name="phone" type="text" value="{{contactPhone}}" placeholder="Newspaper Phone"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input name="email" type="text" value="{{contactEmail}}" placeholder="Newspaper Email"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input name="streetaddress" type="text" value="{{streetAddress}}" placeholder="Street"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input name="city" type="text" value="{{city}}" placeholder="City"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input name="province" type="text" value="{{province}}" placeholder="State"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input name="postalcode" type="text" value="{{postalCode}}" placeholder="Zip Code"/>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Submit" class="btn btn-primary submit"/>
            </div>
        </div>
    </form>
</template>
