<template name="newspaperAdd">
    <h1>Add a Newspaper</h1>
    {{#if currentUser}}
        <form class="main">

            <div class="control-group">
                <div class="controls">
                    <input name="postalcode" type="text" value="" placeholder="Your Zip Code *"/>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <input name="name" type="text" value="" placeholder="Newspaper Name *"/>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <input name="url" type="text" value="" placeholder="Newspaper URL"/>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <input name="phone" type="text" value="" placeholder="Newspaper Phone"/>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <input name="email" type="text" value="" placeholder="Newspaper Email"/>
                </div>
            </div>


            <div class="control-group">
                <div class="controls">
                    <textarea name="address" rows="4" value="" placeholder="Newspaper Address"></textarea>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <input type="submit" value="Add Newspaper" class="btn btn-primary"/>
                </div>
            </div>
        </form>
        <p>* Required fields</p>
    {{else}}
        <div>Please log in.</div>
    {{/if}}
</template>